
#entete{
	margin:auto;
	height:40%;
	color:white;
	background-color:#819FF7;
	
	border-right: 10px groove #2E9AFE;
	border-left: 10px groove #2E9AFE;
}
header
{

    
    display: flex;

    justify-content: space-between;

    align-items: flex-end;

}

#logo{
	width:30%;
	height:30%;
	display: flex;
    flex-direction: row;

    align-items: baseline;
}
footer
{
	font-size: 10px;
	background-color:white;
}
body{

	font-size: 20px;
	font-family: 'Trebuchet MS', Arial, sans-serif;
	background-image: url('e-sante.jpeg');
	background-repeat: no-repeat;
	background-size:100%;
	
}

#navigation a{
	text-decoration: none;
}
#navigation li{
	
	display:inline;
	height: 200px;
	
	
}
:required
{
     border-color: #81BEF7;
}

#patient
{
	width :60%;
	height :400px;
	text-align:center;
	margin: auto;
	
	
	background-color: rgba(255,255,255,0.5);

}
form{
	background-color:#b3ccff;
	height :100%;
}
@media screen and (max-width: 1800px)
container
{
	width :60%;
}